@font-face {
  font-family: 'corbel-light';
  src: url('../public/assets/fonts/Corbel\ Light.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.primary-yellow {
  background-color: #fcd913;
}

body {
  font-family: 'Corbel', sans-serif;
  font-weight: 300; /* Light weight */
  line-height: 1.5;
  font-size: 16px; /* Default for desktop */
}

@media (max-width: 768px) {
  body {
    font-size: 14px; /* Mobile font size */
  }
}

/* Headers */
h1, h2, h3, h4 {
  font-family: sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 32px; /* Desktop font size */
}

h2 {
  font-size: 28px; /* Desktop font size */
}

h3 {
  font-size: 24px; /* Desktop font size */
}

h4 {
  font-size: 20px; /* Desktop font size */
}

/* Mobile Header Sizing */
@media (max-width: 768px) {
  h1 {
    font-size: 28px; /* Mobile font size */
  }

  h2 {
    font-size: 24px; /* Mobile font size */
  }

  h3 {
    font-size: 20px; /* Mobile font size */
  }

  h4 {
    font-size: 18px; /* Mobile font size */
  }
}

.action-btn {
  border-radius: 2vh;
  border: 0;
  color: white;
  background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
}

.table-container {
  height: 0;
  overflow: hidden;
  transition: height 1s ease-in-out;
}

.table-container.show {
  height: 100%;
}